In [1]:
# Connect to the Cassandra cluster
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

# This secure connect bundle is autogenerated when you download your SCB, 
# if yours is different update the file name below
cloud_config = {
    'secure_connect_bundle': 'secure-connect-eduflow-ai-hack-2023.zip'
}

# This token JSON file is autogenerated when you download your token, 
# if yours is different update the file name below
with open("xavier@everdawn.ai-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
  print(row[0])
else:
  print("An error occurred.")

4.0.11-fedbfc208e4e

In [4]:
# Choose the keyspace
session.set_keyspace('aihack2023')

# Check the current keyspace
print("Current keyspace: ", session.keyspace)

Current keyspace:  aihack2023

# Create the tables
The tables that I need are as follows:
- Student table
    - School
    - Student ID No
    - First Name
    - Last Name
    - Email Address (PK)
    - Phone Number
    - Interests <>
    - Career Goals <>
    - Subjects <>

- Subject Table
    - Subject code (PK)
    - Subject Name

- Skill
    - Skill Code (PK)
    - Subject code
    - Skill Title
    - Skill Theory

In [6]:
# Students Table
cql_command = """
DROP TABLE IF EXISTS students;
"""

session.execute(cql_command)
print("Students table successfully dropped")

cql_command = """
CREATE TABLE students (
    email_address text PRIMARY KEY,
    school text,
    student_id_no text,
    first_name text,
    last_name text,
    phone_number text,
    interests list<text>,
    career_paths list<text>,
    subjects list<text>
    );
"""

session.execute(cql_command)
print("Students table successfully created")

Students table successfully dropped
Students table successfully created

In [8]:
# Subjects Table
cql_command = """
DROP TABLE IF EXISTS subjects;
"""

session.execute(cql_command)
print("Subjects table successfully dropped")

cql_command = """
CREATE TABLE subjects (
    subject_code text PRIMARY KEY,
    subject_name text,
    skills map<text, text>
);
"""

session.execute(cql_command)
print("Subjects table successfully created")

Subjects table successfully dropped
Subjects table successfully created

In [10]:
# Subjects Table
cql_command = """
DROP TABLE IF EXISTS subjects;
"""

session.execute(cql_command)
print("Subjects table successfully dropped")

cql_command = """
CREATE TABLE subjects (
    subject_code text PRIMARY KEY,
    subject_name text,
    skills map<text, text>
);
"""

session.execute(cql_command)
print("Subjects table successfully created")

Subjects table successfully dropped
Subjects table successfully created

In [9]:
# Student_Skills Table
cql_command = """
DROP TABLE IF EXISTS student_skills;
"""

session.execute(cql_command)
print("student_skills table successfully dropped")

cql_command = """
CREATE TABLE student_skills (
    student_email text,
    subject_code text,
    skill_title text,
    mastery_score float,
    retention_score float,
    need_to_revise boolean,
    PRIMARY KEY ((student_email, subject_code), skill_title)
);
"""

session.execute(cql_command)
print("Student_skills table successfully created")

student_skills table successfully dropped
Student_skills table successfully created